@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'FONTSPRING DEMO - The Seasons';
    src: url('FONTSPRINGDEMO-TheSeasonsBold.woff2') format('woff2'),
        url('FONTSPRINGDEMO-TheSeasonsBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - The Seasons';
    src: url('FONTSPRINGDEMO-TheSeasonsLightRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-TheSeasonsLightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - The Seasons';
    src: url('../font/FONTSPRINGDEMO-TheSeasonsItalic.woff2') format('woff2'),
        url('../font/FONTSPRINGDEMO-TheSeasonsItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - The Seasons';
    src: url('../font/FONTSPRINGDEMO-TheSeasonsBoldItalic.woff2') format('woff2'),
        url('../font/FONTSPRINGDEMO-TheSeasonsBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - The Seasons';
    src: url('../font/FONTSPRINGDEMO-TheSeasonsRegular.woff2') format('woff2'),
        url('../font/FONTSPRINGDEMO-TheSeasonsRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - The Seasons';
    src: url('../font/FONTSPRINGDEMO-TheSeasonsLightItalic.woff2') format('woff2'),
        url('../font/FONTSPRINGDEMO-TheSeasonsLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}



:root {
    --color-text: hsl(248, 10%, 40%);
    --color-text-muted: hsl(248, 10%, 40%);
    --color-purple: slateblue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none !important;
}

p{
    font-family: "Poppins", sans-serif !important;
}


.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}



.poppins-font {
    font-family: "Poppins", sans-serif;
}

.prpl {
    color: #574A6C;
}

.color-purpel {
    color: #6108B2 !important;
}

.f-60 {
    font-size: 60px;
}

.bg-color-purpel {
    background-color: #6108B2;
}

.color-red {
    color: #E01A77;
}

.color-blu {
    color: #122C3F;
}

.color-secnd-blue {
    color: #370763;
}

.font-20 {
    font-size: 20px;
}

.font-18 {
    font-size: 18px;
}

.font-22 {
    font-size: 22px;
}

.font-60 {
    font-size: 60px;
}

.nav-item .nav-link {
    font-size: 20px;
    color: #D8A5FF !important;
    font-family: "Poppins", sans-serif !important;
}
.dropdown-item{
    font-family: "Poppins", sans-serif !important;
}
.nav-item .nav-link.active {
    color: #fff !important;
    filter: drop-shadow(0px 0px 5px #fff);
}

.nav-item .nav-link:hover {
    color: #fff !important;
    filter: drop-shadow(0px 0px 5px #fff);
}
.dropdown-menu {
    background-color: #6108B2 !important;
   
}
.dropdown-menu li a{
    color: white !important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #6108B2 !important;
   
}
.dropdown-item.active, .dropdown-item:active {
    color: #6108B2 !important;
    background-color: white !important;
}

.nav-marg-top {
    margin-top: 7px;
}

.main-logo-width {
    width: 50%;
}

.font-sami-bold {
    font-weight: 600;
}

.cont-btn-margn {
    margin-left: 160px;
    border-radius: 40px;
    color: #E01A77;
    border: 1px solid #E01A77;
    padding: 3px 40px;
    font-size: 20px;
    font-weight: 500;
}

.nav-start {
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    margin-right: 50px;
    padding: 5px 0px 5px 50px;
    background-color: #6108B2;
}

.font-bold {
    font-weight: bold;
}

.w-85 {
    width: 85%;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.font-regular {
    font-size: medium;

}

.line-height-35 {
    line-height: 35px;
}

.font-48 {
    font-size: 48px;
}

.fontweight-400 {
    font-weight: 400;
    line-height: 35px;

}

.letter-and-line {
    letter-spacing: 14px;
    line-height: 80px;
}

.w-83 {
    width: 83%;
}

.image-border img {
    border: 1px solid #6108B2;
    width: 100%;
}

.image-border-1 img {
    border: 1px solid #6108B2;
    width: 97%;
}

.text-left {
    text-align: left !important;
}

/* services css */

.bg-lightgra {
    background-color: #F7EEFF;
}

.font-services {
    font-size: 64px;
    font-weight: 800;
    width: 102%;
}

.round-bdr {
    border-radius: 35px;
    width: 67%;
}

.round-bdr-1 {
    border-radius: 35px;
    width: 75%;
}

.servics-para {
    font-size: 18px;
}

.step-card {
    margin-bottom: 20px;
    border: 1px solid #C7BECE;
    border-radius: 22px;
    margin-right: 0px;
    height: 95%;
}

.step-card img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.step-title {
    font-weight: bold;
    font-size: 24px;
    color: #6108B2;
    margin-bottom: 10px;
}

.step-content {
    text-align: left;
}

.icon {
    font-size: 2rem;
    margin-bottom: 10px;
}

.service-section {
    padding: 40px 20px;
}

.service-title {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    color: #6108B2;
}

.service-description {
    text-align: center;
    margin-bottom: 40px;
    color: #4A556C;
    width: 65%;
    font-size: 20px;
}

.service-icon {
    font-size: 2rem;
    color: #6A1B9A;

}

.promise-img-wid {
    width: 80px;
}

.service-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.service-text .parp {
    flex: 1;
    font-size: 14px;
    color: #667085;
    margin-right: 40px;
    margin-left: 20px;
}

.service-text strong {
    font-size: 19px;
    color: black;
    margin-left: 20px;

}

.service-image {


    display: flex;
    justify-content: end;
}

.service-image img {
    width: 500px;
    height: 450px;
    object-fit: contain;
}

.services-2-icon img {
    background-color: #f0dcff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 5px;
}

.custom-bullet {
    list-style-type: none;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.custom-bullet::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 2px solid #ec008c;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-bullet::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #ec008c;
    border-radius: 50%;
}

.highlight {
    color: #ec008c;
    font-weight: bold;
}

/* mln promicies */
.promise-container {
    text-align: center;
    padding: 50px 15px;
}

.promise-container h1 {
    font-weight: 800;
    margin-bottom: 20px;
}

.promise-card-title {
    font-size: 20px !important;
    font-weight: 700 !important;
    font-family: "Poppins", sans-serif !important;
}
.upper-footer a{
    position: absolute;
    z-index: 99;
    left: 55px;
    bottom: 50px;
    width: 90%;
    right: -50px;
}
.promise-container .peera {
    margin-bottom: 40px;
    width: 1142px;
    font-size: 22px;
}

.promise-card-text {
    font-size: 16px;
    color: #717171;
    font-weight: 300;
    margin-top: 3px !important;
}

.promise-icon {
    font-size: 2rem;
    color: #ffffff;

    border-radius: 50%;
    display: flex;
    align-items: center;
}

.promise-card-body {
    padding: 25px 20px;

}

.all-promise-width {
    width: 90%;
}

.promise-card {
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 7px #dbdbdbad);
}

/* footer */
.upper-footer-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin: 40px 0px 40px 0px;
    background-color: #EAD2FF;
    /* Light purple background */
}

.upper-footer {
    background-color: #e6cfff;
    /* Slightly darker purple background */
    padding: 50px;
    text-align: center;
}

.upper-footer h1 {
    font-size: 30px;
    font-weight: 700 !important;
    color: #6108B2;
    padding-bottom: 50px !important;
    margin: 0px 230px;
    line-height: 40px;
}

.btn-custom {
    background-color: #6108B2;
    /* Dark purple button */
    color: #fff;
    border-radius: 13px;
    font-size: 14px;
    padding: 5px 13px 7px 13px;
    margin-top: 30px;
}

.btn-custom:hover {
    background-color: #6108B2;
    /* Slightly lighter purple button on hover */
    color: #fff;
}

.main-footeerr {
    position: relative;
}

footer {
    position: absolute;
    background-color: transparent;
    color: #ffffff;
    top: 420px;
    left: 100px;

}

footer a {
    text-decoration: none;
    font-size: 13px;
    color: #F5F7FA !important;
    font-weight: 300;
}

.footer-first-col {
    background-color: white;
    width: 123%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: -115px;
    text-align: end;
    align-items: end;
    display: flex;
    justify-content: end;
}

.footer-logo-img {
    padding: 5px 25px 5px 5px;
    width: 200px;
    text-align: end;
    align-items: end;
    display: flex;
    justify-content: end;
}

.f-13 {
    font-size: 13px;
    color: #F5F7FA !important;
    font-weight: 300;
}

footer a:hover {
    color: #cccccc;
    text-decoration: none;
}

.footer-heading {
    font-size: 20px;
    margin-bottom: 20px;

}

footer .social-icons i {
    font-size: 14px;
    background-color: #865fa985;

    height: 27px;
    width: 27px;
    border-radius: 50%;

}

.footer-bak-img {
    position: absolute;
    top: -65px;
    width: 100%;
}

.footer-bak-img img {
    height: 770px;
}

.email-under {
    text-decoration: underline;
}

footer .btn-outline-light {
    border: none;
    background-color: #865fa985;
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
}

footer .btn-outline-light:hover {
    border: none;
    background-color: #865fa985;
    color: #ffffff;
}


.on-media-widthfull {
    width: 90% !important;
}


.pb-40 {
    padding-bottom: 40px;
}

.home-hero {
    background-image: url(/assets/images/home-hero.png);
    width: 100%;
    height: 1208px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-top: -65px;

}

.hero-heading {
    padding-bottom: 40px;
    padding-top: 160px;
}

.hero-heading h1:nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-size: 67px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #6108B2;

}

.hero-heading h1:nth-child(1) small {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #122C3F;

}

.hero-heading h1:nth-child(2) {
    font-family: "Poppins", sans-serif;
    font-size: 67px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #F935A5;
}

.hero-heading h1:nth-child(3) {
    font-family: 'FONTSPRING DEMO - The Seasons';
    font-size: 120px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #6108B2;
}

.hero-para {
    width: 635px;
}
.accordion__caption{
    font-family: "Poppins", sans-serif!important;
}
.accordion__content p{
 font-size: 18px !important;
}
.hero-para p {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #122C3F;
}

.hero-btn a button {

    padding: 18px 52px 18px 52px;
    border: none;
    border-radius: 40px;
    background-color: #6108B2;
    box-shadow: 0px 0px 10px 0px #613484;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    display: block;



}

/* home hero end */
.our-story {
    margin-top: -390px;
    padding-bottom: 50px;
}

.story-heading .sub {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: #122C3F;

}

.sub mark {
    color: #E01A77;
    background-color: transparent;
}

.story-heading h2 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    color: #6108B2;
}

.story-para p {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    text-align: justified;
    color: #122C3F;

}

/*  */
.about-hero {
    background-image: url(/assets/images/Web-Main_About\ 1.png);
    width: 100%;
    height: 110%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.about-hero-content h2 {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    color: white;
}

.about-hero-content p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: white;
}

/*our story end  */

.underlined-heading h2 {
    font-family: 'FONTSPRING DEMO - The Seasons';
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    text-align: left;
    color: #6108B2;
    position: relative;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 32%;
    text-align: right;
}

.underlined-heading h2::before {
    content: "";
    position: absolute;
    bottom: -5px;
    background: #6108B2;
    width: 530.2px;
    height: 2.6px;
    left: -117px;
}

.main {
    gap: 50px;
    justify-content: center;
    margin: 60px 0px;
}

.main-ul{
    display: flex;
    list-style: none;
     padding: 2rem 0;
    padding: 0;
    margin: 0;
}

.main-ul li{
    margin: 2rem 3rem;
    display: grid;
    place-content: center;
   

}
 

.main-ul li img{
    min-width: 200px;
}

 

 
.we-do-main {
    background: linear-gradient(101.85deg, #F935A5 2.7%, #931F61 95.47%);
    padding: 41px 60px;
    z-index: 9999999;
    position: relative;
}

.image-inner {
    box-shadow: 3px 3px 7.2px 3px #6108B24D;
    border-radius: 17px;

}
.videos{
   
    width: 100%;
    min-height: 500px;
}

 
.image-inner h2 {
    background-color: white;
    font-family: 'FONTSPRING DEMO - The Seasons';
    font-size: 20px;
    font-weight: 500;
    line-height: 28.8px;
    color: #6108B2;
    padding: 20px 5px;
    border-radius: 0px 0px 17px 17px;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}
.image-inner-1{
    border-radius: 17px;
    overflow: hidden;
}
.image-inner-1 h2 {
    background-color: white;
    font-family: 'FONTSPRING DEMO - The Seasons';
    font-size: 16px;
   font-weight: 500;
   min-height: 90px;
     
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    color: #6108B2;
    padding: 0.8rem;
    border-radius: 0px 0px 17px 17px;
    text-transform: capitalize;
}

.award-card{
    z-index: 99999;
    position: relative;
}

.award-card a{
    z-index: 9999999999;
}

/* what we do end */
.counting-main {
    margin: 70px 0px -100px 0px;
}

.counting:nth-child(Even) .counter-number {
    color: #E01A77 !important;
}

.counting:nth-child(Even) .counterdetails {
    color: #E01A77 !important;
}

.counting:nth-child(Odd) .counter-number,
.counterdetails {
    color: #6108B2 !important;
}

.counter-number,
.counterdetails {
    color: #6108B2;
}

.counter-number {
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
}

.counterdetails {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: center;

}

/* counter-end */
.p-absolute {
    position: absolute;
    top: 70%;
    z-index: -1;
}

.p-absolute .image-inner h2 {
    font-family: "FONTSPRING DEMO - The Seasons", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: center;
    padding: 20px;

}


/*  */
.artical-thumb img {
    width: 100%;
}

/*articals end  */

.testimonials {
    background: linear-gradient(rgba(0 0 0 /40%), rgba(0 0 0 /40%)), url(/assets/images/testi-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testi-heading h2 {
    font-family: 'FONTSPRING DEMO - The Seasons';
    text-transform: uppercase;
    font-size: 40px;
     
    line-height: 48px;
    text-align: left;
    color: white;
}

.inner-1 {
    background-color: white;
    padding: 40px 30px 20px 30px;
    position: relative;
    border-radius: 20px;
    height: 250px ;
    margin: 55px 20px 50px 20px;
}

.person-img {
    position: absolute;
    top: -50px;
}

.rating {
    display: flex;
    justify-content: space-between;
}

.rating p:first-child {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #6108B2;
}

.rating p:last-child {
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #E01A77;
}

.review p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    color: #191919;

}

.dots {
    margin-top: 60px;
}

.video-card{
    background-color: #fff;
    
}
.video-card h2{
    font-family: 'FONTSPRING DEMO - The Seasons';
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #6108B2;
    padding: 20px 0px;
    border-radius: 1rem;
}

/*  */
.alm-heading h2 {
    color: #6108B2;
    font-family: 'FONTSPRING DEMO - The Seasons';
    font-size: 36px;
    /* font-weight: 700; */
    line-height: 44px;
    text-align: center;

}

.alm-heading p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}

.alm-promise .row {
    gap: 57px;
}

.alm-inner {
    box-shadow: 0px 2px 4px 0px #6108B24D;
    padding: 24px 46px;
    margin: 40px;
    border-radius: 17px;
}

.vector {
    text-align: center;
}

.alm-inner h3 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #4D4D4D;
}

.alm-inner p {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #717171 !important;


}

/*  testimnials end*/
.top-inner {
    box-shadow: 3px 3px 7.2px 3px #6108B24D;
    border-radius: 17px;
}

.top-inner p {
    padding: 15px 37px;
    font-family: "FONTSPRING DEMO - The Seasons", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #6108B2;
    background-color: white;
    border-radius: 0px 0px 17px 17px;
}

.top-award {
    padding: 0px 77px;
}

/* top-award */

.blog-link {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 188px;

}

.blog-inner {
    position: relative;
}

.blog-img {
    border-radius: 8px;
}

.iner-link {
    background: #F5F7FA;
    border-radius: 8px;
}

.iner-link {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    padding: 30px 20px;
    box-shadow: 0px 8px 16px 0px #ABBED166;
    width: 317px;
    color: #717171;

}

.iner-link a {
    color: #6108B2 !important;
}

/* blog end */

/* about page start */
.about-section-2 {
    position: relative;
}

.about-section-2 .sec-2-content {
    padding-top: 157px;
}

.sec-2-content p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.sec-2-img {
    position: relative;
}

.ellipse-1 {
    position: absolute;
    top: 115px;
    right: 100px;
}

.ellipse-2 {
    position: absolute;
    left: 80px;
    bottom: 40px;
}

.group-1 {
    position: absolute;
    right: -86px;
    top: -60px;
}

/*  */
.counter h2 {
    margin-bottom: 40px;
    font-family: 'Season', ;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.21em;
    text-align: center;

}

.counter-content h3 {
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;

}

.section-3 .row .col-lg-2:nth-child(odd) h3 {
    color: #6108B2;
}

.section-3 .row .col-lg-2:nth-child(even) h3 {
    color: #E01A77;

}

.section-3 .row .col-lg-3 {
    color: #6108B2;
}

.counter-content p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: center;
}

.section-3 .row .col-lg-2:nth-child(odd) p {
    color: #6108B2;
}

.section-3 .row .col-lg-2:nth-child(even) p {
    color: #E01A77;

}

/*  */
.section-4 {
    padding-bottom: 100px;
}

.inner-div {
    background-color: #6108B2;
    color: white;
    border-radius: 0px 87px 87px 0px;
    padding: 15px 40px 0px 130px;
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 65px;

}

.inner-div span {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 300;
    line-height: 65px;
    text-align: left;

}

.section-4 .sec-4-content {
    padding-top: 30px;
}

.section-4 .sec-4-content p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;

}

.section-4 .sec-4-content p span {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: #6108B2;

}

.sec-4-img img {
    position: absolute;
    top: -125px;

}

/*  */

.section-5 {
    background-color: #EAD2FF;
    padding: 100px 0px;

}

.appointment p {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 52.5px;
    text-align: center;
    color: #540B98;

}

.appointment a button {
    width: 204px;
    height: 53.35px;
    padding: 13.68px, 20.51px, 13.68px, 20.51px;
    background: #6108B2;
    border: 1px solid #6108B2;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
}

.Award-content {
    margin-bottom: 100px;
}

.Award-content h2 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    color: #6108B2;
    margin-bottom: 21px;

}

.Award-content p {
    color: #6108B2;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;

}

.top-para {
    padding: 8px;
    text-align: center;
    background-color: #6108B2;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 30px;

}

.border-color {
    border: 0.25px solid #6108B2 !important;
    box-shadow: -2px 2px 15px -1px #7171711F;

}

.card-image img {
    width: 100%;
}

.bottom-para {
    border-top: 0.5px solid #6108B2 !important;
    padding: 10px 16px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: black;

}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* Necessary to avoid unwanted space */
}

.media-text-end {
    text-align: center;
}


.index-upper-footer {
    background-color: #6108b2;
    padding: 50px;
    text-align: center;
}

.footer-bak-img-1 img {
    height: 100%;
}

.indx-footer {
    margin-top: 30% !important;
}


.news-section {
    padding: 60px 0;
}

.news-section h2 {

    margin-bottom: 10px;
    color: #4f4f4f;
}

.news-section p {

    margin-bottom: 60px;

}

.news-card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
    height: 100%;
    display: flex;
}

.news-card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #f5f5f5;
}

.news-card .card-body {
    padding: 10px;
    flex: 1;
}

.news-card img {
    border-radius: 15px;
}

.news-card .card-title {
    font-size: 16px;
    margin-bottom: 10px;
    color: #E01A77;
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-card:hover .card-text {
    color: #E01A77 !important;
}

.news-card .card-text {
    font-size: 21px;
    color: #4f4f4f;
}





.news-card-1 {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;

}

.border-none {
    border: none;
}

.add-bdr {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.news-card-1 img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #f5f5f5;
}

.news-card-1 .card-body {
    padding: 0px 10px;
    flex: 1;
}

.news-card-1 img {
    border-radius: 15px;
}

.news-card-1 .card-title {
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
}

.news-card-1:hover .card-title {
    font-size: 16px;
    margin-bottom: 10px;
    color: #E01A77;
}

.news-card-1:hover {
    transform: translateY(-5px);
}

.hindustan-img img {
    width: 100%;
}

.news-card-1 .card-text {
    font-size: 16px;
    color: #4f4f4f;
}

.detail-content {
    padding-right: 20px;
}

.bg-white {
    background-color: white;
}

.news-card.card {
    border: none;
}

.coverage .card {
    border: none;
    height: 100%;
}

.blog-detail-width {
    width: 100%;
}

.blog-detail-width img {
    width: 100%;
    border-radius: 20px;
}

.cato {
    background-color: #6108B2;
    color: white;
    font-size: 12px;
    border-radius: 50px;
    display: inline-block;
    padding: 5px 20px;
}

.radius-15 {
    border-radius: 7px;
}

.artical-card-text {
    font-size: 16px;
}

/* FAQS */

.accordion {
    width: 54rem;
    padding: 1.2rem 0;
    border-radius: 1rem;
    background: white;
    /*   box-shadow: 0 0 5rem lightgrey; */
}

.accordion__heading {
    margin-bottom: 1rem;
    padding: 0 1.4rem;
}

.accordion__item:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

.accordion__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.2rem 1.4rem;
    background: white;
    border: none;
    outline: none;
    color: var(--color-text);
    font-size: 1.2rem;
    text-align: left;
    cursor: pointer;
    transition: 0.1s;
}

.accordion__btn:hover {
    color: #6108B2;
    background: hsl(248, 53%, 97%);
}

.accordion__item--active .accordion__btn {
    color: #6108B2;
    border-bottom: 2px solid #6108B2;
    background: hsl(248, 53%, 97%);
}

.fa-lightbulb {
    padding-right: 1rem;
}

.accordion__icon {
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
    opacity: 0.9;
}

.accordion__item--active .accordion__icon {
    transform: rotate(135deg);
}

.accordion__content {
    font-weight: 300;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    color: var(--color-text-muted);
    transform: translateX(16px);
    transition: max-height 0.5s ease, opacity 0.5s, transform 0.5s;
}

.accordion__content p {
    padding: 1rem 1.8rem;
}

.accordion__item--active .accordion__content {
    opacity: 1;
    transform: translateX(0px);
    max-height: 100vh;
}


/* testimonials */

.main-test {
    width: 100%;
    height: auto;
    font-size: 16px;
    background-color: #370763;
}

.testim {
    width: 100%;
}

.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #eee;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
    cursor: pointer;
}

.testim .arrow:hover {
    color: #ea830e;
}


.testim .arrow.left {
    left: 10px;
}

.testim .arrow.right {
    right: 10px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: none;
    z-index: 3333;
    height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: #ea830e;
    border-color: #ea830e;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;
    -moz-animation: testim-scale .5s ease-in-out forwards;
    -ms-animation: testim-scale .5s ease-in-out forwards;
    -o-animation: testim-scale .5s ease-in-out forwards;
    animation: testim-scale .5s ease-in-out forwards;
}

.testim .cont {
    position: relative;
    overflow: hidden;
}

.testim .cont>div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont>div.inactive {
    opacity: 1;
}


.testim .cont>div.active {
    position: relative;
    opacity: 1;
}


.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: #ea830e;
    font-size: 1em;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 1.15em;
    color: #eee;
    width: 80%;
    margin: auto;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;
    -moz-animation: testim-show .5s ease-in-out forwards;
    -ms-animation: testim-show .5s ease-in-out forwards;
    -o-animation: testim-show .5s ease-in-out forwards;
    animation: testim-show .5s ease-in-out forwards;
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;
    -moz-animation: testim-content-in .4s ease-in-out forwards;
    -ms-animation: testim-content-in .4s ease-in-out forwards;
    -o-animation: testim-content-in .4s ease-in-out forwards;
    animation: testim-content-in .4s ease-in-out forwards;
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;
    -moz-animation: testim-content-in .5s ease-in-out forwards;
    -ms-animation: testim-content-in .5s ease-in-out forwards;
    -o-animation: testim-content-in .5s ease-in-out forwards;
    animation: testim-content-in .5s ease-in-out forwards;
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;
    -moz-animation: testim-hide .5s ease-in-out forwards;
    -ms-animation: testim-hide .5s ease-in-out forwards;
    -o-animation: testim-hide .5s ease-in-out forwards;
    animation: testim-hide .5s ease-in-out forwards;
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;
    -moz-animation: testim-content-out .4s ease-in-out forwards;
    -ms-animation: testim-content-out .4s ease-in-out forwards;
    -o-animation: testim-content-out .4s ease-in-out forwards;
    animation: testim-content-out .4s ease-in-out forwards;
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;
    -moz-animation: testim-content-out .5s ease-in-out forwards;
    -ms-animation: testim-content-out .5s ease-in-out forwards;
    -o-animation: testim-content-out .5s ease-in-out forwards;
    animation: testim-content-out .5s ease-in-out forwards;
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
    body {
        font-size: 14px;
    }
}

@media all and (max-width: 500px) {
    .testim .arrow {
        font-size: 1.5em;
    }

    .testim .cont div p {
        line-height: 25px;
    }

}


/* contact */
.heading-section {
    font-size: 28px;
    color: #000;
}

#form-message-success {
    color: #28a745;
    font-size: 18px;
    font-weight: 500;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.wrapper {
    width: 100%;
    -webkit-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
}

.contact-wrap {
    background: #7f279c;
    background: -moz-linear-gradient(-45deg, #7f279c 0%, #2e279d 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #7f279c), color-stop(100%, #2e279d));
    background: -webkit-linear-gradient(-45deg, #7f279c 0%, #2e279d 100%);
    background: -o-linear-gradient(-45deg, #7f279c 0%, #2e279d 100%);
    background: -ms-linear-gradient(-45deg, #7f279c 0%, #2e279d 100%);
    background: -webkit-linear-gradient(315deg, #7f279c 0%, #2e279d 100%);
    background: -o-linear-gradient(315deg, #7f279c 0%, #2e279d 100%);
    background: linear-gradient(135deg, #7f279c 0%, #2e279d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f279c', endColorstr='#2e279d', GradientType=1);
}

.contact-wrap h3 {
    color: #fff;
}

#form-message-warning,
#form-message-success {
    display: none;
}

.contactForm .form-control {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0;
}

#contactForm .error {
    color: #f65c78;
    font-size: 12px;
}

#contactForm .form-control {
    font-size: 16px;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-size: 16px;
    font-weight: 500;
    color: #28a745;
}

.info-wrap h3 {
    color: #000;
    position: relative;
}

.info-wrap h3:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 3px;
    background: #d62196;
    content: '';
}

.info-wrap .dbox {
    width: 100%;
    margin-bottom: 25px;
}

.info-wrap .dbox:last-child {
    margin-bottom: 0;
}

.info-wrap .dbox p {
    margin-bottom: 0;
}

.info-wrap .dbox p span {
    font-weight: 400;
    color: #000;
}

.info-wrap .dbox p a {
    color: rgba(0, 0, 0, 0.3);
}

.info-wrap .dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(0 0 0 / 18%);;
}

.info-wrap .dbox .icon span {
    font-size: 20px;
    color: #000;
}

.info-wrap .dbox .text {
    width: calc(100% - 50px);
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    height: 52px;
    background: transparent;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 14px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.info-wrap .dbox .icon{
    margin-right:15px;
}
.form-control::-webkit-input-placeholder {
    color: #cfcfcf;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #cfcfcf;
    opacity: 1; }
  .form-control::-ms-input-placeholder {
    color: #cfcfcf;
    opacity: 1; }
  .form-control::placeholder {
    color: #cfcfcf;
    opacity: 1; }

    .expert-led-video {
        padding: 50px 0;
    }

    .video-container {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .video-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .video-description p {
        font-size: 0.95rem;
        color: #666;
    }

    .badge-ocd {
        background-color: #66cc99;
        font-size: 0.9rem;
    }

    .watch-later {
        font-size: 0.9rem;
        color: #ff614d;
        font-weight: 500;
    }

    .video-container iframe {
        border-radius: 10px;
    }

    .section-title {
        font-size: 3.75rem;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .resources-pagination {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .resources-pagination button {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        font-size: 1rem;
    }

    .resources-pagination button.active {
        background-color: #ff614d;
        color: #fff;
        border: none;
    }

    .search-bar {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .search-bar input {
        border-radius: 25px;
        border: 1px solid #ccc;
        padding: 5px 15px;
    }
    .video-card {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        margin-bottom: 20px;
        height: 95%;
    }

    .video-thumbnail {
        position: relative;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */
        background-color: #000; /* Fallback background color */
    }

    .video-thumbnail iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .video-info {
        padding: 15px;
    }

    .video-title {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .video-author {
        font-size: 0.9rem;
        color: #6c757d;
    }

    .watch-later {
        font-size: 0.9rem;
        color: #6c757d;
        font-weight: 500;
        display: block;
        margin-top: 10px;
    }

    .video-badge {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #ff614d;
        color: #fff;
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 0.9rem;
        z-index: 10;
    }
    .fee-heading{
        font-size: 30px;
        font-weight: 700;
        color: #6108B2;
        text-align: center;
    }
    .fee-para{
        text-align: center;
        
    }

@media only screen and (max-width: 2500px) {
    .home-hero {
        height: 1650px;
    }
}

@media only screen and (max-width: 2000px) {
    .home-hero {
        height: 1600px;
    }
}

@media only screen and (max-width: 1740px) {
    .on-media-widthfull {
        width: 75% !important;
    }

    .upper-footer-background {
        height: 25vh;
    }

    .indx-footer {
        margin-top: 35% !important;
    }

    .home-hero {
        height: 1500px;
    }

    .our-story {
        margin-top: -450px;
    }
}

@media only screen and (max-width: 1540px) {
    .on-media-widthfull {
        width: 73% !important;
    }

    .upper-footer-background {
        height: 35vh;
    }

    .indx-footer {
        margin-top: 30% !important;
    }

    .home-hero {
        height: 1350px;
    }

    .our-story {
        margin-top: -360px;
    }
}

@media only screen and (max-width: 1440px) {
    .underlined-heading h2 {
        margin-bottom: 15px;
        width: 100%;
        text-align: left;
    }
    .inner-1{
        height: 300px;
    }
   
   
    .our-story {
        margin-top: -420px;
    }

    .underlined-heading h2::before {
        bottom: -5px;
        width: 530.2px;

    }

    .about-hero-content p {
        font-size: 20px;
    }

    .section-4 {
        padding-bottom: 210px;
    }

    .ellipse-1 {
        top: 120px;
        right: 140px;
    }

    .counter {
        margin: 70px 0px;
    }

    .inner-div span {
        font-family: "Poppins", sans-serif;
        font-size: 50px;
        font-weight: 300;
        line-height: 65px;
        text-align: left;

    }

    .inner-div {
        background-color: #6108B2;
        color: white;
        border-radius: 0px 87px 87px 0px;
        padding: 15px 40px 0px 130px;
        font-family: "Poppins", sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 65px;

    }

    .letter-and-line {
        letter-spacing: 9px;

    }

    .all-promise-width {
        width: 100%;
    }


    .popins{
        font-family: "Poppins", sans-serif;
    }
    .footer-first-col {
        background-color: white;
        
        width: 135%;
    }

    .service-image img {
        width: 520px;
        height: 520px;
        text-align: end;
    }

    .step-title {
        font-weight: bold;
        font-size: 22px;
        color: #6108B2;
        margin-bottom: 10px;
    }

    .font-services {
        font-size: 55px;
        font-weight: 800;
        width: 102%;
    }

    .round-bdr {
        border-radius: 35px;
        width: 67%;
    }

    .servics-para {
        font-size: 16px;
    }

    .w-83 {
        width: 90%;
    }

    .font-18 {
        font-size: 16px;
    }

    .nav-item .nav-link {
        font-size: 15px;
    }

    .indx-footer {
        margin-top: 24% !important;
    }

    .award-card-gallery {
        margin-top: -480px;
        z-index: -1;
        position: relative;
       

    }
}

footer{
    font-family: "Poppins", sans-serif !important;
}

footer a{
    text-decoration: none;
}


@media only screen and (max-width: 1300px) {
    .indx-footer {
        margin-top: 20% !important;
    }

    .award-card-gallery {
        margin-top: -400px;
        z-index: -1;
        position: relative;
        z-index: 99999999;
    }

}

@media only screen and (max-width: 1200px) {
    .indx-footer {
        margin-top: 15% !important;
    }

    .award-card-gallery {
        margin-top: -300px;
        z-index: -1;
        position: relative;
       
    }
    .inner-1{
        height: 390px;
     }
   

}

@media only screen and (max-width: 1100px) {
    .indx-footer {
        margin-top: 10% !important;
    }
    .inner-1{
        height: 100%;
    }

    .about-hero {
        height: auto !important;
        padding: 20px 0px;
    }

}

@media only screen and (max-width: 1000px) {
    .indx-footer {
        margin-top: 5% !important;
    }

    .counting-main {
        margin: 0px 0px 0px 0px;

    }

}

@media only screen and (max-width: 900px) {
    .indx-footer {
        margin-top: 0% !important;
    }

}

@media only screen and (max-width: 850px) {
    .indx-footer {
        margin-top: -5% !important;
    }

}

@media only screen and (max-width: 992px) {

    .hero-heading h1:nth-child(1) {
        font-size: 50px;
    }

    .hero-heading h1:nth-child(1) small {
        font-size: 25px;
    }


    .hero-heading h1:nth-child(3) {
        font-size: 50px;

    }
    .sm-mob-pad{
        margin: 12px ;
    }
    .font-60 {
        font-size: 35px;
    }

    .upper-footer h1 {

        margin: 0px 0px;
    }

    .w-85 {
        width: 95%;
    }

    .font-22 {
        font-size: 18px;
    }

    .service-title {
        font-size: 28px;
    }

    .service-text .parp {

        margin-right: 0px;
    }

    .letter-and-line {
        letter-spacing: 3px;
        line-height: 60px;
    }

    .font-48 {
        font-size: 18px;
    }

    .cont-btn-margn {
        margin-left: 126px;
        padding: 6px 14px;
        font-size: 15px;

    }

    .underlined-heading h2::before {
        bottom: -5px;
        width: 100%;

    }

    .nav-media-end {
        align-items: end !important;
        margin-right: 12px !important;
        justify-content: end !important;
    }

    .hero-heading {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 768px) {
    br {
        display: none;
    }

    .group-1 {
        top: 50%;
    }

    .non {
        display: none;
    }

    .counter-content {
        margin-bottom: 50px;
    }

    .about-section-2 .sec-2-content {
        padding-top: 50px;
    }

    .counter {
        margin: 50px 0px;
    }

    .ellipse-1 {
        top: 70px;
        right: 30px;
    }

    .iner-link {
        margin-bottom: 65px;
    }

    .ellipse-2 {
        bottom: 0;
        left: 20px;
    }

    .sec-4-img img {
        position: unset;
        width: 100%;
    }

    .section-4 {
        padding-bottom: 0;
    }

    .inner-div {
        padding-left: 10px;
        font-size: 40px;
    }

    .award-card-gallery {
        margin-top: -165px;
        z-index: -1;
        position: relative;
         
    }

    .w-83 {
        width: 100% !important;
    }

    .mid-mar-top-img {
        margin-top: 40px;
    }

    .mid-mar-bot-img {
        margin-bottom: 40px;
    }

    .upper-footer h1 {
        font-size: 20px;
        line-height: 28px;
    }

    .upper-footer-background {
        height: 35vh;
    }

    .footer-bak-img {
        display: none;
    }

    footer {

        background-color: #370763;
        top: 321px;
        left: 0;
        padding: 20px 0px;
    }

    .on-media-widthfull {
        width: 100% !important;
        padding-top: 34px !important;
    }

    .upper-footer {
        margin-bottom: -125px;
    }

    .footer-first-col {
        width: 104%;
    }

    .letter-and-line {
        letter-spacing: 3px;
        line-height: 35px;
    }

    .f-13 {
        margin-left: -9px;
    }

    .font-services {
        font-size: 33px;
    }

    .round-bdr {
        width: 91%;
    }

    .step-card-2mar {
        margin-right: -5px !important;
        margin-left: 16px !important;
        margin-top: 17px;
    }

    .step-card {
        padding: 20px 10px;
    }

    .service-description {
        width: 86%;
        font-size: 18px;
    }

    .service-image img {
        width: 95%;
    }

    .service-image {
        padding: 0px;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }

    .media-text-end {
        text-align: end;
        margin-right: 10px;
    }

    .main-logo-width {
        width: 80%;
    }

    .nav-start {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-right: 0px;
        padding: 5px 0px 5px 50px;
        background-color: #6108B2;
    }

    .inner-div {
        padding-left: 10px;
        font-size: 31px;
    }

    .sub-logo {
        width: 40% !important;
    }
}


@media only screen and (max-width: 550px) {
    .cont-btn-margn {
        margin-left: 0px;
        padding: 3px 10px;
        font-size: 12px;
    }

    .our-story {
        margin-top: -341px;
    }
}

@media only screen and (max-width: 490px) {
    .upper-footer {
        margin-bottom: -110px;
    }
}

 